body{
    float:center;
    text-align: left;
    font-family: "Arial";
    background:rgb(42, 40, 40);
    color: rgb(255, 255, 252);
    max-width: 900px;
    padding-left: 20%;
    padding-right: 20%;
}

.home-link {
  text-align: center;
  padding-right: 100px
}

img.album-cover {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    margin: 10px;
    margin-left: 15px;


}

p.desc{
    padding-top: 10px;
    padding-left: 10px;


}

h2 {
    padding-left: 100px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 50px;
}
h3 { 
    padding-top: 50px;
    padding-left: 15px;

}

div.album-section {
    padding-bottom: 10px;
}

.home-link {
    padding-top: 50px;
    padding-bottom: 50px;   
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(217, 70, 60);
    text-decoration: underline;
    padding-left: 5px;
    margin-left: 190px;
}

.descwlink p, .descwlink a {
    display: inline;
    color: rgb(249, 249, 249);
}

.descwlink a {
    color: rgb(217, 70, 60);
    text-decoration: underline;
    font-weight: bold;
}

.descwlink {
    float: left;
}

h1 {
  text-align: center;
  padding-left: 100px;
  padding-bottom: 50px;
}




em {
    color : rgb(60, 209, 217);
    font-weight: bold;
}

.sr-album-cover {
  width: fit-content;
  height: 500px;
  position: relative;
  left:70px;
  margin-left: wrap;
  padding-left: wrap;
}


.twenty-one-pilots-album {
  padding-left: 0px;
  padding-top: 10px;
  padding-right: -30px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  .p {
    float: left;
  } 
  .sr-album-cover {
    height: 550px;
    margin-left: wrap;
    padding-left: wrap;
  }
  
}

.album-desc li {
    font-size: 19px;
    margin-bottom: 30px;
}

.sr-album-cover:hover {
  transform: scale(1.05);
  background-color:rgba(53, 51, 51, 0.615);
  transition: transform 0.3s ease;
}

.album-cover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.album-title {
  text-decoration: underline;
  padding-left: 85px;
}
.rab-album-title {
  text-align: center;
}
.regional-at-best-album {
  padding-right: -30px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  .li{
    margin-right: 5px;
  } 
}


.album-title{
  text-align: left;
}

.vessel_album {
  background-image: 
    linear-gradient(rgba(238, 232, 232, 0.5), rgba(0, 0, 0, 0.4)),
    url('https://i.scdn.co/image/ab67616d0000b2736caad685af37c08063be928d');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  color: white;
  padding: 50px;
}


.blurryface_album {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('https://upload.wikimedia.org/wikipedia/en/7/7d/Blurryface_by_Twenty_One_Pilots.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  color: white;
  padding: 50px;
  border-bottom: 5px solid rgb(0, 0, 0);
}

.trench_album {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('https://i.scdn.co/image/ab67616d0000b273d1d301e737da4324479c6660');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  color: white;
  padding: 50px;
}

.scaled_icy_album {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('https://i.scdn.co/image/ab67616d00001e027c693d6ed6dff0d48cf15c23');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  color: white;
  padding: 50px;
}

.clancy_album {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('https://i.scdn.co/image/ab67616d0000b273cc94dd4730132ccfbd617bf9');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  color: white;
  padding: 50px;
}

.breach_album {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('https://i.scdn.co/image/ab67616d0000b2739c5a3160cc1a6ef5efdaf80a');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  color: white;
  padding: 50px;
}
