img{
    width: 200px
}

body {

    text-align: center;
    font-family: "Arial";
    background:rgb(42, 40, 40);
    color: rgb(255, 255, 252);
}

h1 { 
    text-align: center;
    color: rgb(255, 255, 4);
}

h2 { 
    text-align: center;
    color: rgb(255, 255, 4);
}